@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Saira+Condensed:wght@200&family=Teko:wght@300&display=swap');
$color-whitsmook:whitesmoke;
$font-Bellefair:"Bellefair", serif;
$font-NotoSerif:'Noto Serif', serif;